/WebGUI/node_modules
/WinFormsApp/.vs
/WinFormsApp/obj
WebGUI/build
WinFormsApp/WinFormsApp.csproj.user
WinFormsApp/bin/Debug/net10.0-windows/WinFormsApp.dll
WinFormsApp/bin/Debug/net10.0-windows/Newtonsoft.Json.dll
WinFormsApp/bin/Debug/net10.0-windows/WinFormsApp.deps.json
WinFormsApp/bin/Debug/net10.0-windows/WinFormsApp.exe
WinFormsApp/bin/Debug/net10.0-windows/WinFormsApp.pdb
WinFormsApp/bin/Debug/net10.0-windows/WinFormsApp.runtimeconfig.json
